@import 'settings';
@import 'foundation-emails';


//Variables
$spitfire: #F3306B;
$insignia: #313E51;

$creamWhite: #f3f3f3;
$lightGrey: lightgrey;

// Body Styles
body,
html,
.body {
  background: $creamWhite !important;
  color: $insignia;
  font-size: 16px;
}

.header {
  background: $spitfire;

  .header-logo {
    height: 100%;
    margin: 0;
    padding: 0;

    img {
      width: 5rem;
      height: auto;
    }
  }

  .container {
    background-color: transparent;
  }
}

.container {
  display: block;
  position: relative;
  padding: 2rem 5rem;

  .signature {
    hr {
      border: 0;
      border-top: 1px solid $lightGrey;
    }

    b {
      display: block;
    }

    .heek-logo {
      padding: 0 2rem;
    }

    .links {
      display: block;
      color: $spitfire;
      font-size: 0.8rem;
    }

    .socials {
      a {
        width: 22px;
        padding: 0.3rem;
        display: block;
        position: relative;
      }
    }
  }
}

