@import 'settings';
@import 'foundation-emails';


//Variables
$spitfire: #F3306B;
$insignia: #313E51;

$creamWhite: #f3f3f3;

// Body Styles 
body,
html, 
.body {
  background: $creamWhite !important;
  color: $insignia;
  font-size: 16px;
}

.header {
  background: $spitfire;

  .header-logo {
    img {
      width: 5rem;
      height: auto; 
    }
  }

  .container {
    background-color: transparent;
  }
}

